#evaluate($output)
#macro(numberizeHashTableData)
SELECT TO_NUMBER(SUBSTR($rawRowHashIdentifier, 1, 15), 'XXXXXXXXXXXXXXXX')    as $rowHashIdentifier,
    #set($columnSize = $columns.size() - 1)
    #foreach($i in [0..$columnSize])
        #if($i > 0)
        ,
        #end
    TO_NUMBER(SUBSTR($columns.get($i)_HASH, 1, 15), 'XXXXXXXXXXXXXXXX')    as $columns.get($i)
    #end
FROM (#hashTableData())
#end

#macro(hashTableData)
SELECT DBMS_OBFUSCATION_TOOLKIT.MD5(input => UTL_RAW.CAST_TO_RAW(#concatRowData())) as $rawRowHashIdentifier,
    #set($columnSize = $columns.size() - 1)
    #foreach($i in [0..$columnSize])
        #if($i > 0)
        ,
        #end
    DBMS_OBFUSCATION_TOOLKIT.MD5(input => UTL_RAW.CAST_TO_RAW(COALESCE($columns.get($i), ''))) as $columns.get($i)_HASH
    #end
FROM (#distinctData())
#end

#macro(concatRowData)
    #set($columnSize = $columns.size() - 1)
    #foreach($i in [0..$columnSize])
        #if($i > 0)
        ||
        #end
    COALESCE($columns.get($i),'')
    #end
#end

#macro(distinctData)
SELECT DISTINCT
    #set($columnSize = $columns.size() - 1)
    #foreach($i in [0..$columnSize])
        #if($i > 0)
        ,
        #end
        #stringifyNullable($columns.get($i)) AS $columns.get($i)
    #end
FROM $table
#end

#macro(stringifyNullable $column)
    #if ($column.isAddedSinceLastSync())
        ## Does column have a default value?
        #if ($column.getDefaultValue().isPresent())
            #stringifyDefault($column, $column.getDefaultValue().get())#else
        ''#end
    #else
    COALESCE(#stringify($column), '')#end
#end

#macro(stringify $column)
    #if ($helper.isBinary($column))
    RAWTOHEX("$column")#elseif ($helper.isString($column))
    "$column"#elseif ( $helper.isDate($column))
    TO_CHAR("$column", '$dateNumberFormat')#else
    TO_CHAR("$column")#end
#end

#macro(stringifyDefault $column, $defaultValue)
    #if ($helper.isBinary($column))
    RAWTOHEX($defaultValue)#elseif ($helper.isString($column))
        $helper.escapeDefaultValue($defaultValue)#elseif ( $helper.isDate($column))
    TO_CHAR($defaultValue, '$dateNumberFormat')#else
    TO_CHAR($defaultValue)#end
#end