#evaluate($output)
#macro(hashTableData)
SELECT DBMS_OBFUSCATION_TOOLKIT.MD5(input => UTL_RAW.CAST_TO_RAW(#concatRowData())) as ROWHASH
FROM (#distinctData())
#end

#macro(concatRowData)
    #set($columnSize = $columnNames.size() - 1)
    #foreach($i in [0..$columnSize])
        #if($i > 0)
        || '|' ||
        #end
        $columnNames[$i]
    #end
#end

#macro(distinctData)
SELECT DISTINCT
    #set($columnSize = $columnNames.size() - 1)
    #foreach($i in [0..$columnSize])
        #if($i > 0)
        ,
        #end
    #stringifyNullable($columnNames[$i]) AS $columnNames[$i]
    #end
FROM $dataTableName
#end



#macro(stringifyNullable $column)
    #if ($column.isAddedSinceLastSync())
        #if ($column.getDefaultValue().isPresent())
            #stringifyDefault($column, $column.getDefaultValue().get())
        #else
        ''
        #end
    #else
    COALESCE(#stringify($column), '|')
    #end
#end

#macro(stringify $column)
    #if ($helper.isBinary($column))
        RAWTOHEX($column)
    #elseif ($helper.isString($column))
        $column
    #elseif ( $helper.isDate($column))
        TO_CHAR($column, '$dateNumberFormat')
    #else
        TO_CHAR($column)
    #end
#end

#macro(stringifyDefault $column, $defaultValue)
    #if ($helper.isBinary($column))
        RAWTOHEX($defaultValue)
    #elseif ($helper.isString($column))
        $helper.escapeDefaultValue($defaultValue)
    #elseif ( $helper.isDate($column))
        TO_CHAR($defaultValue, '$dateNumberFormat')
    #else
        TO_CHAR($defaultValue)
    #end
#end