#evaluate($output)
#macro(selectChangedData)
SELECT * FROM (#tempHashTableData()) WHERE  ROWHASH = ?
#end

#macro(tempNumberizeHashTableData)
SELECT TO_NUMBER(SUBSTR(ROWHASH, 1, 15), 'XXXXXXXXXXXXXXXX')    as ROW_HASH_NUMBER,
    #set($columnSize = $columnNames.size() - 1)
    #foreach($i in [0..$columnSize])
        #if($i > 0)
        ,
        #end
    $columnNames[$i]
    #end
FROM (#tempHashTableData())
#end

#macro(tempHashTableData)
SELECT DBMS_OBFUSCATION_TOOLKIT.MD5(input => UTL_RAW.CAST_TO_RAW(#concatRowData())) as ROWHASH,
    #set($columnSize = $columnNames.size() - 1)
    #foreach($i in [0..$columnSize])
        #if($i > 0)
        ,
        #end
        $columnNames[$i]
    #end
FROM (#distinctData())
#end

#macro(concatRowData)
    #set($columnSize = $columnNames.size() - 1)
    #foreach($i in [0..$columnSize])
        #if($i > 0)
        || '|' ||
        #end
        $columnNames[$i]
    #end
#end

#macro(distinctData)
SELECT DISTINCT
    #set($columnSize = $columnNames.size() - 1)
    #foreach($i in [0..$columnSize])
        #if($i > 0)
        ,
        #end
    #stringifyNullable($columnNames[$i]) AS $columnNames[$i]
    #end
FROM $dataTableName
#end



#macro(stringifyNullable $column)
    #if ($column.isAddedSinceLastSync())
        #if ($column.getDefaultValue().isPresent())
            #stringifyDefault($column, $column.getDefaultValue().get())
        #else
        '|'
        #end
    #else
    COALESCE(#stringify($column), '|')
    #end
#end

#macro(stringify $column)
    #if ($helper.isBinary($column))
    RAWTOHEX($column)
    #elseif ($helper.isString($column))
        $column
    #elseif ( $helper.isDate($column))
    TO_CHAR($column, '$dateNumberFormat')
    #else
    TO_CHAR($column)
    #end
#end